body {
  background-color: #8a8a8a25;
  height: 300vh;
}

.container {
  margin: 10px;
}
.list {
  border: 1px solid;
}
.list-group {
}
.list-header {
  /* position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky; */
  position: sticky;
  top: 0;
  background-color: #3d3d3d;
  color: aliceblue;
  padding: 0.5rem;
}
.list-content div {
  margin: 0.5rem 0.5rem;
}

/* Ewentualy with support if needed  */

/* .list-header {
  position: relative;
  background-color: #3d3d3d;
  color: aliceblue;
  padding: 0.5rem;
}
@supports (position: sticky) {
  .list-header {
    position: sticky;
    top: 0;
  }
} */
