body {
  background-color: antiquewhite;
}

.flexbox-container {
  display: flex;
  border: 2px solid orange;
  justify-content: space-around;
  align-items: center;
}

.flexbox-item {
  border-radius: 1rem;
  box-shadow: 5px 5px 50px rgb(114, 107, 107);
  width: 200px;
  border: 3px solid #333;
  background-color: #dfdfdf;
  transition: all 200ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox-item-1 {
  min-height: 100px;
  flex-shrink: 2;
  align-self: flex-end;
  order: 2;
}
.flexbox-item-2 {
  min-height: 200px;
  flex-grow: 1;
  align-self: center;
  order: 3;
}
.flexbox-item-3 {
  min-height: 100px;
  flex-grow: 1;
  align-self: flex-start;
  order: 1;
}

.flexbox-item:hover {
  transform: translateY(5px);
  transform: scale(1.05);
  background-color: #333;
}

.flexbox-item:hover span {
  color: antiquewhite;
}

.flexbox-item span {
  font-size: 4rem;
  transition: all 200ms ease-in;
}
