:root {
  --navigation-color: #f15025;
  --main-color: #b3cbb9;
  --font-color: #2b2920;
  --side-bar-color: #84a9c0;
  --footer-color: #f1b5cb;
  --content1-color: #ddd8b8;
  --content2-color: #d1ca9f;
  --content3-color: #b6ac68;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  color: var(--font-color);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "footer footer footer footer";
}

nav {
  background: var(--navigation-color);
  grid-area: nav;
}

main {
  background: var(--main-color);
  grid-area: main;
}

#content1 {
  background: var(--content1-color);
  grid-area: content1;
}
#content2 {
  background: var(--content2-color);
  grid-area: content2;
}
#content3 {
  background: var(--content3-color);
  grid-area: content3;
}

#sidebar {
  background: var(--side-bar-color);
  grid-area: sidebar;
}

footer {
  background: var(--footer-color);
  grid-area: footer;
}
